@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

// FONTS

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&display=swap");

@font-face {
  font-family: "Ogg";
  src: url(".././fonts/Ogg/Ogg-Regular-BF646c18fc465e5.ttf");
}

@font-face {
  font-family: "Neillgates";
  src: url("../fonts/Neillgates/Neillgates1\ Free.ttf");
}

// new fonts

@font-face {
  font-family: "Indira";
  src: url("../fonts/indira-k/Indira_K.ttf");
}

@font-face {
  font-family: "Aquifer";
  src: url("../fonts/aquifer/Aquifer.ttf");
}

@font-face {
  font-family: "CaslonAntique";
  src: url("../fonts/caslon-antique/CaslonAntique.ttf");
}

/* Normilizing css */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
  font-weight: inherit;
}

/* HEADER */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8%;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;

  .header-nav {
    transition: none 0.5s cubic-bezier(0.85, 0, 0.3, 1);
    transition-property: transform, opacity;
    display: flex;
    justify-content: space-between;

    .header-nav-items {
      display: flex;

      .nav-item {
        cursor: pointer;
        margin-left: 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        font-weight: 500;
        list-style: none;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        color: white;
        font-family: "Montserrat", sans-serif;
        position: relative;
        display: inline-block;
        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          display: block;
          margin-top: 5px;
          right: 0;
          background: white;
          transform-origin: right;
          transition: transform 0.3s ease, width 0.3s ease,
            border-width 0.3s ease;
          transform: scaleX(0.98) rotate(-2deg);
        }

        &:hover:after,
        &.active:after {
          width: 100%;
          left: 0;
          background: white;
          transform-origin: right;
          transform: scaleX(1) rotate(-2deg);
          border-width: 0.6px;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }

      .nav-item-sign-in span:first-child {
        margin-right: 15px;
      }
    }
  }
}

.header-logo {
  cursor: pointer;
}

.logo-header {
  width: 110px;
}

// FOOTER

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(231, 231, 231);
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/wine-cellar.png);
  background-position: bottom;
  // background-size: cover;
  // background-color: #181B2B;
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding: 50px 80px;
  width: 100%;
  justify-content: space-between;
  align-items: top;
}

.footer-section {
  margin: 15px;

  h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    color: rgb(182, 182, 182);
    line-height: 20px;
  }
}

.footer-nav {
  display: flex;
  transition: none 0.5s cubic-bezier(0.85, 0, 0.3, 1);
  transition-property: transform, opacity;
  justify-content: space-between;

  .footer-nav-items {
    display: flex;
    flex-direction: column;

    .nav-item {
      cursor: pointer;
      padding-bottom: 1rem;
      font-weight: 500;
      list-style: none;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      color: white;
      font-family: "Montserrat", sans-serif;
      position: relative;
      display: inline-block;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: white;
        transform-origin: right;
        transition: transform 0.3s ease, width 0.3s ease, border-width 0.3s ease;
        transform: scaleX(0.98) rotate(-2deg);
      }

      &:hover:after,
      &.active:after {
        width: 100%;
        left: 0;
        background: white;
        transform-origin: right;
        transform: scaleX(1) rotate(-2deg);
        border-width: 0.6px;
      }
    }
  }
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  color: rgb(155, 155, 155);
}

.footer-about-us,
.footer-social {
  width: 300px;
}

.footer-contact {
  width: 240px;
}
