// HOME PAGE

.home-page-layout {
  background-image: url(../../img/wine-cellar2.png);
  background-position: bottom;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.home-page-wrapper {
  position: relative;
  background-image: url(../../img/main-page-banner2.png);
  background-position: bottom;
  background-size: cover;

  .page-banner {
    width: fit-content;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: transform 0.3s ease-in-out;

    a {
      font-family: "Ogg", sans-serif;
      font-size: 80px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      // color: rgb(243, 243, 243);
      color: white;
      text-decoration: none;
    }

    span {
      font-family: "Neillgates", sans-serif;
      position: absolute;
      text-transform: none;
      font-weight: 100;
      color: #9290ff;
      bottom: 290px;
      right: -100px;
      font-size: 58px;
      transform: rotate(-15deg);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

// Brand Wines Block

.wine-carousel-wrapper {
  position: relative;
  min-height: 450px;
  overflow: hidden;
}

.wine-container {
  height: 100vh;
  position: relative;
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.brands-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}

.wine-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  justify-content: space-around;
}

.wine-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  // border: 1px solid #ddd;
  padding: 25px;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
  font-family: 'CaslonAntique', sans-serif;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
  transition: all 0.3s ease-in-out;

  .wine-img {
    margin: auto;
    transform: opacity 0.3s ease-in-out;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    max-height: 200px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.slider-carousel {
  width: 55%;
  margin: 10px auto;
  margin-bottom: 0;
  transition: transform 0.3s ease-in-out;

    .slick-list {
        height: 400px;
    }
}

.item-info {
  margin-top: 15px;
  color: rgb(212, 212, 212);
}

.arrow {
  font-size: 28px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: rgb(212, 212, 212);

  svg {
    transition: color 500ms;

    &:hover {
      color: #7d7bf4;
    }
  }
}

.arrow.next {
  right: 0%;
  top: 35%;
}

.arrow.prev {
  left: 0%;
  top: 35%;
}

// Category Menu

.category-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-item {
  cursor: pointer;
  font-family: 'Indira', serif;
  font-size: 22px;
  color: rgb(212, 212, 212);
  padding: 15px;
  margin: 0 10px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transform-origin: right;
    transition: transform 0.3s ease, width 0.3s ease, border-width 0.3s ease;
    transform: scaleX(0.98) rotate(-2deg);
  }

  &:hover:after,
  &.active:after {
    width: 100%;
    left: 0;
    background: white;
    transform-origin: right;
    transform: scaleX(1) rotate(-2deg);
    border-width: 0.6px;
  }
}

.carousel-button {
  cursor: pointer;
  padding: 5px;
  border: #333 solid 1px;
}

.carousel-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.category-buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;

    &:active {
      border-bottom: 2px solid #000;
    }
  }
}
